* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.logoMario {
  height: 200px;
}

.botão-entre-em-contato {
  color: white;
  background-color: #c51111;
  border-radius: 3px;
  border: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
}

.imagem-mario-luigi {
  height: 500px;
}
main {
  height: 100vh;
}

.caixa-mae {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px;
  height: 100vh;
  margin-top: -100px;
}

.caixa-principal {
  width: 40%;
}

.caixa-video {
  position: fixed;
  z-index: -1;
  top: 0;
}

video {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top:0;
}

.mascara {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    109deg,
    rgba(10, 12, 16, 0.99) 15%,
    rgba(10, 12, 16, 0.7) 50%,
    rgba(10, 12, 16, 0.99) 85%
  );
  position: fixed;
  top: 0;
}

.link-whatsapp {
  height: 60px;
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 30px;
}

.linkHeader {
  font-weight: 600;
  color: #989d9c;
  cursor: pointer;
}

h1,
p {
  font-weight: 600;
  color: #989d9c;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

.linkHeader:hover {
  color: #c51111;
  font-size: 20px;
  transition: 0.5s ease-in-out;
}

.header img {
  height: 60px;
}

.botão-entre-em-contato:hover {
  color: blue;
  font-size: 15px;
  transition: 0.5s ease-in-out;
  box-shadow: 0 4px 8px rgba(70, 13, 224, 0.5);
}

.formulario-fale-conosco {
  background-color: white;
  display: flex;
  gap: 20px;
  flex-direction: column;
  position: fixed;
  left: -300px;
  top: 30%;
  padding: 20px;
  border-radius: 10px;
  transition: left 1s ease-in-out;
}

input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 5px;
  outline-color: #18d80f;
}

textarea {
  width: 270px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 5px;
  outline-color: #18d80f;
}

.mascara-formulario {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      109deg,
      rgba(10, 12, 16, 0.99) 15%,
      rgba(10, 12, 16, 0.7) 50%,
      rgba(10, 12, 16, 0.99) 85%
    ); 
    transition: visiblity 1s ease-in-out;
  }




/* 
Inicial
    top: 30%;
    left: -300px

Final
    top: 30%;
    left: 50%;
    transform: translateX (-50%); */